<!DOCTYPE html>
<html>
    <head>
        <title>Seito_PassBreakOT</title>
        <meta charset="UTF-8">
        <script>
            function sousin(){
                $(document).ready(function(){
                    $.post('/Seito_PassBreakOT',$('form').serialize())

                    .fail(function(){
                        console.log('error!');
                    })
                });
            }

            
        </script>
        <meta name="robots" content="noindex,nofollow">
        <meta name="author" content="菅野優輝">
        <meta http-equiv="content-language" content="ja">
        <meta http-equiv="content-type" content="text/html">
    </head>
    <body>
        <h2>ワンタイムパスワード確認ページ</h2>
        <h2><%= miss %></h2>
        <form action="/Seito_PassBreakOT" method="post" name="Seito_PassBreakOT" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
            <fieldset name="fs">
                <legend>ワンタイムパスワード</legend>
                <input name="SPBOThPass" type="text" size="38" maxlength="10"
                placeholder="ワンタイムパスワードを入力してください。" required><br>
            </fieldset>
            <button type="submit" onclick="sousin()">　送信　</button>
            <button type="reset" name="reset" >　リセット　</button>
        </form>
        <br>
        <fieldset name="fs OTR">
            <legend>ワンタイムパスワードを再発行しますか？</legend>
            <br><a href="/Seito_PassBreakOTR"
            type="text/html" target="_self" hreflang="ja">
            再発行</a>
        </fieldset>
            <br><a href="/Seito_Wasureta"
            type="text/html" target="_self" hreflang="ja">
            戻る</a>
            
    </body>
</html>