<!DOCTYPE html>
<html>
    <head>
        <title>Seito_Wasureta</title>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex,nofollow">
        <meta name="author" content="菅野優輝">
        <meta http-equiv="content-language" content="ja">
        <meta http-equiv="content-type" content="text/html">
    </head>
    <body>
        <form action="/Seito_Wasureta" name="Seito_Wasureta" method="POST" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
        <h2>パスワード再設定ページ</h2>
        <h3>自分のIDと登録しているメールアドレスを入力してください。</h3>
            <fieldset name="fsid">
                <legend>自分のID</legend>
                <input name="SWhID"type="text" size="24" maxlength="8"
                placeholder="部屋番号を入力してください。" required>
            </fieldset>
            <fieldset name="fspmailad">
                <legend>メールアドレス</legend>
                <input name="SWhMail" type="text" size="256" maxlength="256"
                placeholder="メールアドレスを入力してください。" required>
            </fieldset>
            <button name="sousin" type="submit">　送信　</button>
            <button name="sakuzyo" type="reset">　リセット　</button>
            <strong><br>自分のIDも忘れてしまった場合は<br>
                    管理者にお願いしてIDを聞いてください。
            </strong>
        </form>
    </body>
</html>